<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="/styles/blog.css">
</head>
  
  <!-- ----------------
  Navigation Menu
  ---------------- -->
  <div class="header">
    <div class="dropdown">
      <button class="menu">
        <i class="fa fa-bars"></i>
      <div class="dropdown-content">
        <ul>
          <a href="index.html">Home</a>
          <a href="story.html">Story</a>
          <a href="projects.html">Projects</a>
          <a href="lessons_plans.html">Lesson Plans</a>
          <a href="cats.html">Cats</a>
          <a href="blog.html">Blog</a>
          <a href="resume.html">Resume</a>
        </ul>
      </div>
    </div>
    <title>Home Page</title>
    <home href="index.html"><i class="fa fa-home"></i></home>
  </div> 

<!-- ----------------
Entries
---------------- -->  
<div class="w">
  <div class="leftcolumn">
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <p>Some text..</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <p>Some text..</p>
    </div>
  </div>
</div>




<!-- ----------------
Footer
---------------- -->
<div class="footer">
    <icon href="#"><i class="fa fa-github"></i></icon>
    <icon href="#"><i class="fa fa-linkedin"></i></icon>
    <icon href="#"><i class="fa fa-envelope"></i></icon>
    <icon href="#"><i class="fa fa-file"></i></icon>  
</footer>

</html>