<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="/styles/cats.css">
  </head>
  
  <!-- ----------------
  Navigation Menu
  ---------------- -->
  <div class="header">
    <div class="dropdown">
      <button class="menu">
        <i class="fa fa-bars"></i>
      <div class="dropdown-content">
        <ul>
          <a href="index.html">Home</a>
          <a href="story.html">Story</a>
          <a href="projects.html">Projects</a>
          <a href="lessons_plans.html">Lesson Plans</a>
          <a href="cats.html">Cats</a>
          <a href="blog.html">Blog</a>
          <a href="resume.html">Resume</a>
        </ul>
      </div>
    </div>
    <name> Glen Godby III</name>
    <home href="index.html"><i class="fa fa-home"></i></home>
  </div> 

<!-- ----------------
Footer
---------------- -->
<div class="footer">
    <icon href="#"><i class="fa fa-github"></i></icon>
    <icon href="#"><i class="fa fa-linkedin"></i></icon>
    <icon href="#"><i class="fa fa-envelope"></i></icon>
    <icon href="#"><i class="fa fa-file"></i></icon>  
</footer>